*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  color: #33475B;
  font-family: sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.check {
  color: #FE775A;
}

.button {
width: 150px;
height: 50px;
color: white;
text-align: center;
vertical-align: middle;
line-height: 50px;
background: #FE775A;
border: 1px solid #FE775A;
border-radius: 5%;
margin: auto;
}

.button:hover {
  background:white;
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5px;
}
/* Header style */

header{
    background: #F5F8FA;
}

p{
  line-height: 1.6;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 5px 10px;
}

li i {
  padding: 0 8px;
}

/* Header nav style */

nav.top {
  width: 80%;
  margin: auto;
}

nav.top::after{
clear: both;
content: '';
display: table;
}

.nav-left,
.nav-right {
  float: left;
  width: 50%;
  padding: 15px 0;
}

/* Header nav top left style */

.nav-left p {
  display: inline-block;
  padding: 10px 0;
}

.fas.fa-globe-europe{
  margin-right: 5px;
}

.fas.fa-angle-down {
  margin-left: 5px;
}

/* Header nav top right style */

.nav-right {
  text-align: right;
}

.nav-right .login {
  display: inline-block;
  margin-left: 5px;
  background: white;
  padding: 10px;
  color: #FE775A;
  border: 2px solid #FE775A;
  border-radius: 5%;
}

.nav-right .sign-up {
  display: inline-block;
  margin-left: 5px;
  background: #FE775A;
  padding: 10px;
  color: white;
  border: 2px solid #FE775A;
  border-radius: 5%;
}

.nav-right .login:hover{
  background: #FE775A;
  color:white;
}

.nav-right .sign-up:hover {
  background: #FED1C8;
  color: black;
}

/* Header title and menu */

.header-title {
  width: 80%;
  background: white;
  margin: auto;
  padding: 30px 0;
}

.header-title::after{
clear: both;
content: '';
display: table;
}

.title-list {
  float: right;
  text-align: right;
}

/* Header content style */

.header-content {
  height: 695px;
  margin: auto;
  background: url('../img-hubspot/img/jumbotron.png');
  background-size: cover;
  border: 1px solid black;
}

.header-content-wrap{
  width: 80%;
  margin: 50px auto;
}

.header-content-text {
  width: 50%;
  text-align: left;
}

.header-content-text h1{
  font-size: 52px;
}

.header-content-text .description{
  text-align: justify;
  margin: 25px 0;
}

.header-gethubspotfree p{
  width: 40%;
  height: 50px;
  text-align: center;
  background: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5%;
}

.header-gethubspotfree p:hover {
  background:white;
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5px;
}

.header-gethubspotfree p {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.header-break { /* l'header breaker non coincide con l'immagine, rimane spazio bianco. Da lavorare */
  background:#AFEBE4;
  text-align: center;
  height: 50px;
  border-top: 2px solid #28374E;
  border-bottom: 3px solid #28374E;
}

/* Main Style */

main > img {
  width:30%;
  display: block;
  margin: 50px auto 30px;
}

main h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

main > p {
  text-align: center;

}

.img-feature {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto auto 30px;
}

/* Main | Content-1 */

.main-feature {
  width: 80%;
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 1%;
  padding: 50px 30px;
}

.content-1 .main-feature::after{
clear: both;
content: '';
display: table;
}

.main-feature-left,
.main-feature-right{
  float: left;
}
/* Main | Content 1 |feature left */
.main-feature-left {
  width: 35%;
}

/* Main | Content 1 |feature right */
.main-feature-right{
  width: 65%;
}

.midlane {
  display: inline-block;
  width: 65%;
  margin-left: 30px;
  vertical-align: middle;
}

.main-feature-right h3,
.main-feature-right h4,
.main-feature-right p {
  margin-bottom: 30px;
}

/* Main | Content-2 */

.content-2 {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.content-2::after{
  clear: both;
  content: '';
  display: table;
}

.secondary-feature {
  float: left;
  background: white;
  border: 1px solid silver;
  padding: 50px 30px;
  border-radius: 2%;
}

.secondary-feature h3,
.secondary-feature p {
  text-align: center;
  margin-bottom: 20px;
}

.box-bottom ul li {
  display: block;
  padding: 0;
}

.box-bottom .button {
  margin-top: 50px;
}

/* Main | Content-2 | BOX */

.content-2 .box-1 {
  width: calc(33% - 20px);
  margin-right: 20px;
}

.content-2 .box-2 {
  width: calc(33% - 20px);
  margin-right: 20px;
}

.content-2 .box-3 {
  width: 34%;
}

.box-top {
    height: 400px;
    margin: 10px;
}

.box-3 .box-top {
  padding: 5px;
}

/* Main | Community */

main .community{
background: rgb(0,169,185);
background: linear-gradient(90deg, rgba(0,169,185,1) 5%, rgba(0,176,177,1) 52%, rgba(0,186,127,1) 83%);
}

.community-top {
  width: 80%;
  margin: 50px auto;
  border-radius: 1%;
  padding: 50px 30px;
  color: white;
  text-align: center;
}


/* Main | Community |wrapper */

main .community-wrapper{
  width: 80%;
  margin: 50px auto 0;
}

.community-wrapper::after{
  clear:both;
  display: table;
  content: '';
}

/* Main | Community | data */

.community-data h3{
  font-size: 50px;
}

.community-data img {
  width: 60px;
}

.community-data{
  float: left;
  padding: 30px;
  color: white;
  text-align: center;
}

.community-data {
  width: 25%;
  border: 1px solid white;
}

/* Main | customer */

main .customers{
  background: grey;
}

/* Main | customer | top bar */
.customers-top-bar {
  width: 50%;
  background: red;
  margin: 50px auto;
}

.customers-top-bar::after {
  clear: both;
  display: table;
  content: '';
}

.customers-left-bar,
.customers-right-bar {
  float: left;
}

.customers-left-bar{
  background: pink;
  width: 40%;
  height: 200px;
}
.customers-right-bar{
  background: rgb(150, 132, 251);
  width: 60%;
  height: 200px;
}

/* Main | customers | bottom bar */

.customers-bottom-bar{
  background: red;
  width: 60%;
  height: 250px;
  margin: 50px auto;
}

.customers-bottom-bar::after {
  clear: both;
  display: table;
  content: '';
}

/* Footer */
footer {
  background: rgb(44, 120, 6);
}

/* Footer | language */
.footer-otherlink{
  height: 230px;
  width: 60%;
  background: red;
  margin: 50px auto;
}

/* Footer language */

footer .language {
  height: 50px;
  width: 60%;
  background: blue;
  margin: 0px auto;
}

/* Footer credits */

footer .credits {
  height: 50px;
  width: 60%;
  background: pink;
  margin: 0px auto;
}

footer .credits::after {
  clear: both;
  display: table;
  content: '';
}

.credits-left,
.credits-right {
  float: left;
  background: red;
  height: 50px;
  width: 50%;
  border: 2px solid black;
}
