*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  color: #33475B;
  font-family: sans-serif;
}

/* Header style */

header{
    background: #F5F8FA;
}

/* Header nav style */

nav.top {
  width: 80%;
  margin: auto;
}

nav.top::after{
clear: both;
content: '';
display: table;
}

.nav-left,
.nav-right {
  float: left;
  width: 50%;
  padding: 15px 0;
}

/* Header nav top left style */

.nav-left p {
  display: inline-block;
  padding: 10px 0;
}

.fas.fa-globe-europe{
  margin-right: 5px;
}

.fas.fa-angle-down {
  margin-left: 5px;
}

#nav-break-line {
  display: inline-block;
  margin: 0 15px;
}

/* Header nav top right style */

.nav-right {
  text-align: right;
}

.nav-right .login {
  display: inline-block;
  margin-left: 5px;
  background: white;
  padding: 10px;
  color: orange;
  border: 2px solid orange;
  border-radius: 5%;
}

.nav-right .sign-up {
  display: inline-block;
  margin-left: 5px;
  background: orange;
  padding: 10px;
  color: white;
  border: 2px solid orange;
  border-radius: 5%;
}

.nav-right .login:hover{
  background: orange;
  color:white;
}

.nav-right .sign-up:hover{
  background: white;
  color:orange;
}

/* Header content style */

.header-title {
  width: 80%;
  background: white;
  margin: auto;
  padding: 30px 0;
}

.header-title::after{
clear: both;
content: '';
display: table;
}

.title-list {
  float: right;
  text-align: right;
}

.title-list ul {
  list-style: none;
}

.title-list li {
  display: inline-block;
  padding: 5px 10px;

}
.title-list li i {
  padding: 0 8px;
}


/* -------------------------- */
.header-content {
  height: 300px;
  width:80%;
  margin: auto;
  background-color: rgb(195, 23, 217);
  border: 5px solid black;
}

.header-content::after{
clear: both;
content: '';
display: table;
}

.header-content.left,
.header-content.right {
  float: left;
  background: red;
  height: 150px;
  width: 50%;
  border: 2px solid black;
}

.header-break {
  background:white;
  color: black;
  text-align: center;
  border: 3px solid blue;
  height: 50px;
}

/* Main Style */

main {
    background: rgb(44, 120, 6);
}

/* Main | Content-1 */


.content-1 .main-feature{
  height: 50px;
  width: 60%;
  background: red;
  margin: 50px auto;
}

/* Main | Content-2 */

.content-2 {
  background: blue;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.content-2::after{
  clear: both;
  content: '';
  display: table;
}

.content-2 .secondary-feature {
  float: left;
  height: 100px;
  background: red;
}

/* Main | Content-2 | BOX */

.content-2 .box-1 {
  width: calc(33% - 20px);
  margin-right: 20px;
}

.content-2 .box-2 {
  width: calc(33% - 20px);
  margin-right: 20px;
}

.content-2 .box-3 {
  width: 34%;
}

/* Main | community */

main .community{
height: 600px;
background: rgb(174,213,218);
background: linear-gradient(290deg, rgba(174,213,218,1) 44%, rgba(0,212,255,1) 88%);
}

main .community-wrapper{
  height: 230px;
  width: 60%;
  background: red;
  margin: 50px auto;
}

main .community-wrapper::after{
  clear:both;
  display: table;
  content: '';
}

.community-wrapper .community-data{
  float: left;
  height: 100px;
  background: yellow;
}

.community-data {
  width: 25%;
  border: 1px solid black;
}

/* Main | customer */

main .customers{
  background: rgb(80, 27, 203);
}

/* Main | customer | top bar */
.customers-top-bar {
  width: 50%;
  background: red;
  margin: 50px auto;
}

.customers-top-bar::after {
  clear: both;
  display: table;
  content: '';
}

.customers-left-bar,
.customers-right-bar {
  float: left;
}

.customers-left-bar{
  background: pink;
  width: 40%;
  height: 200px;
}
.customers-right-bar{
  background: rgb(150, 132, 251);
  width: 60%;
  height: 200px;
}

/* Main | customers | bottom bar */

.customers-bottom-bar{
  background: red;
  width: 60%;
  height: 250px;
  margin: 50px auto;
}

.customers-bottom-bar::after {
  clear: both;
  display: table;
  content: '';
}

/* Footer */
footer {
  background: rgb(44, 120, 6);
}

/* Footer | language */
.footer-otherlink{
  height: 230px;
  width: 60%;
  background: red;
  margin: 50px auto;
}

/* Footer language */

footer .language {
  height: 50px;
  width: 60%;
  background: blue;
  margin: 0px auto;
}

/* Footer credits */

footer .credits {
  height: 50px;
  width: 60%;
  background: pink;
  margin: 0px auto;
}

footer .credits::after {
  clear: both;
  display: table;
  content: '';
}

.credits-left,
.credits-right {
  float: left;
  background: red;
  height: 50px;
  width: 50%;
  border: 2px solid black;
}
